<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Bedrinedev">
    <meta name="generator" content="Hugo 0.108.0">
    <title>OPAB-HOME</title>

   

</head>
<body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">OPAB</h3>
      <div class=""> <img class="lg-size-half" src="/assets/img/logo_jaune.png" height="70" width="70" ></div>
      <nav class="nav nav-masthead justify-content-center float-md-end bg-dark p-3">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="index.php">Accueil</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">A propos</a>
        <a class="nav-link fw-bold py-1 px-0" href="../front/panier.php">Panier</a>
        <a class="nav-link fw-bold py-1 px-0" href="../front/offres.php">Offres</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
        
      </nav>
    </div>
  </header>
 <img src="/assets/img/bg_hme_img.jpg" >
  <main class="px-3">
    <h1>Operation Airsoft Battleroyale</h1>
    <p class="lead">Nous proposons des e-billets de location de terrains d’airsoft, en groupe ou seule, qui sont plus respectueux de l’environnement, à des prix compétitif. </br>
Les équipements disponibles sur place en location sont made in France. Un abonnement mensuel/annuel ainsi qu’une carte de fidélité vous sont également proposés, afin de bénéficier de réductions et de cadeaux toute l’année !</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">En Savoir Plus</a>
    </p>
  </main>
    
</body>
</html>